/*General*/
body{
    font-family: Tahoma, Arial, sans-serif;
}

.container {
    min-width: 1000px;
}

a{
    color: black;
    text-decoration: none;
    cursor: auto;
}

/*Larry - Navigation*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 48px;
    font-size: 24px;
    padding: 8px 50px;
    border-bottom: 1px solid #DDD;
}

.nav-bar>.left, .nav-bar>.right{
    display: flex;
}
.nav-bar>.right{
    font-size: 20px;
    margin: 14px 0;
}

.nav-bar>ul>li{
    margin: 0 8px;
}

.nav-bar .brand{
    font-size: 24px;
}

/*Anqi - Banner*/

.banner{
    position: relative;
}


.banner-img {
    
     max-width: 100%;
     margin: auto 0;
}

.banner_textbox{
    position:absolute;
    top:40px;
    right:100px;
    width: 400px;
    height:initial;
	padding: 20px;
    background: deepskyblue;
    border-left-width: 10px;
    border-style: solid;
    border-color: orange;
}

.banner_title {
    margin: auto 10px;
    font-size: 20px;
}

.banner_text {
    margin: auto 10px;
    margin-top: 25px;
    font-size:10px;
}



	


/*Anthony - Self-test*/
.box{
    width:300px;
    height:50px;
    margin-left:100px;
    position:relative;
}

.main{
    color: white;
    background: green;
    width:100px;
    height: 50px;
    left:10px;
    top:25px;
    position:absolute;
    border:none;
}

.words{
    left:130px;
    top:25px;
    position:absolute;
}

/*Kevin - Article*/
.sectioncontent{
    color: white;
    background-color: grey;
    padding-left:100px;
    padding-top:15px;
    padding-bottom:20px;
}

.picture{
    width:100%;
}

.bigtitle{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;

}

.sectioncontent p{
    color: white;
    font-size:20px;
    font-family: "Times New Roman", Times, serif;
}

.link{
    color:skyblue;
    font-size:15px;
    font-style: italic;
    text-decoration: underline;
}


/*Jake - Footer*/
.flex{
    display:flex;
    justify-content: space-between;
    background-color:#FFB6C1;
    list-style:none;}

.footer {
    clear:both;
    color:black;
    text-align:center;
    padding:5px; 
}

