/*Larry - Navigation*/
body {
    padding-top: 64px;
}

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 48px;
    font-size: 24px;
    margin-top: -64px;
    padding: 8px 10%;
    border-bottom: 1px solid #DDD;
    background: white;
    z-index: 50;
}

.nav-bar a {
    color: black;
}

.nav-bar > .left, .nav-bar > .right {
    display: flex;
}

.nav-bar > .right {
    font-size: 20px;
    margin: 14px 0;
}

.nav-bar > ul > li {
    margin: 0 8px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.nav-bar > ul.right > li:hover{
    font-size: 110%;
}

.nav-bar img{
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
}

.nav-bar img:hover{
    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

.nav-bar .brand {
    font-size: 24px;
}

.nav-bar .rnd-btn {
    height: 16px;
    margin-top: -7px;
    font-size: 1em;
    padding: 6px 18px 12px;
}

/*Anqi - Banner*/
.banner {
    position: relative;
}

.banner .banner-img {
    width: 100%;
    margin: auto 0;
}

.banner .banner-text {
    position: absolute;
    top: 40px;
    right: 100px;
    width: 350px;
    padding: 30px 20px;
    background: deepskyblue;
    border-left: 5px solid orange;
}

.banner .banner-text > h1 {
    font-weight: bolder;
    font-size: 24px;
}

.banner .banner-text > p {
    margin-top: 25px;
}

.banner h1.banner-heading{
    position: absolute;
    margin: 0;
    left: 0;
    top: 45%;
    width: 100%;
    height: 55%;
    text-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 2px black;
    color: white;
    font-size: 3em;
}



/*Anthony - Self-test*/
.box {
    background-color: #f9f9f9;
    padding: 90px 0;
}

.box2 {
    margin: 0 200px;
    background-color: white;
    padding: 60px;
    display: flex;
}

.box2 > p {
    padding-left: 100px;
}

/*Kevin - Article*/
.section-content {
    color: white;
    background-color: grey;
    padding: 30px 150px;;
    margin-top: -5px;
}

.picture {
    width: 100%;
}

.section-content > * {
    margin: 10px;
    color: white;
}

.section-content > h3 {
    font-size: 26px;
}

.section-content > a {
    color: #00BFA5;
    font-size: 15px;
}

/*Jake - Footer*/
footer {
    background-color: #f2f2f2;
    padding: 30px 90px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer-column {
    padding: 5px;
    list-style: none;
}

.footer-column > h6 {
    color: #333;
    font-size: 1em;
    padding: 10px 0;
}

.footer-column li {
    padding: 5px 0;
}

footer a {
    color: #666;
    font-size: 1em;
}

footer hr {
    border: 1px solid #CCC;
}

footer > .footer-bottom {
    display: flex;
    justify-content: space-between;
}

footer span.copyright {
    color: #666;
}

/*Jake - FAQ*/
.FAQ{
    width: 800px;
    padding-bottom: 50px;
    padding-left: 120px;
}
.FAQ h3 {
    line-height: 50px;
}

.FAQ p {
    line-height: 20px;
}


/*Anqi - Privacy policy*/
.privacy{
    width: 800px;
    padding-bottom: 50px;
    padding-left: 120px;
}

.privacy-text {
    font-family:Tahoma, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.privacy-title {
    font-family:Tahoma, Arial, sans-serif;
    font-size: 24px;
    line-height: 48px;
}

/* game */
.canvas{
    background-color: #f1f1f1;
}
/*Kevin - Contact us*/
.contactus-content{
 padding:10px 15px 50px 15px;
 background: url("img/grass-background.jpg") right;

}
.contact-information{
    display: inline-block;
}
.contacth1{
    text-align: center;
    font-size: 5em;
    font-weight: 400;
    letter-spacing: 10px;
    margin-bottom: 60px;
    margin-top:30px;
    color:white;
}
.contacth3{
    letter-spacing: 2px;
    margin-bottom: 10px;
    padding-top: 10px;
    color:white;
}
.contacth3form{
    letter-spacing: 2px;
    margin:5px;
    color:white;
}

.contactp{
    line-height: 1.5em;
    margin-bottom: 1em;
    color:white;
}

.feedbackformarea{
    border-radius: 5px;
    border: 2px solid white;
    
    padding: 10px;
    float:right;
    padding-left: 40px;
    width:40%;
}

.feedbackinput{
width: 80%;
 border: 2px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
    
}
.feedbacksubmit{
background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/*Kevin - Sign up & login*/
.signup-content, .login-content{
    background-color: white;
    width: 500px;
    margin: 20px auto;
    padding: 5px 0;
}

/*Larry - Site map*/
.site-map li{
    margin: 10px 0;
}

.site-map li>ul {
    text-indent: 25px;
}


/*Anqi - About us*/
.about {
    width: 800px;
    padding-bottom: 50px;
    padding-left: 120px;
}

.about-text {
    font-size: 16px;
    line-height: 20px;
}

.about-title {
    font-size: 24px;
    line-height: 48px;
}