/*General*/
body{
    font-family: Tahoma, Arial, sans-serif;
}

.container {
    min-width: 1000px;
}

a{
    color: black;
    text-decoration: none;
    cursor: auto;
}

/*Larry - Navigation*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 48px;
    font-size: 24px;
    padding: 8px 50px;
    border-bottom: 1px solid #DDD;
}

.nav-bar>.left, .nav-bar>.right{
    display: flex;
}
.nav-bar>.right{
    font-size: 20px;
    margin: 14px 0;
}

.nav-bar>ul>li{
    margin: 0 8px;
}

.nav-bar .brand{
    font-size: 24px;
}

/*Anqi - Banner*/

.pager {
     width: 878px;
     height: 368px;
     position: relative;
     top: 5px;
     left: 400px; 
     list-style: none;
       
}

	


/*Anthony - Self-test*/
.box{
    width:300px;
    height:50px;
    margin-left:100px;
    position:relative;
}

.main{
    color: white;
    background: green;
    width:100px;
    height: 50px;
    left:10px;
    top:25px;
    position:absolute;
    border:none;
}

.words{
    left:130px;
    top:25px;
    position:absolute;
}

/*Kevin - Article*/
.sectionblock{
    background-image:url("img/4a392e6ffa5cc6543308f.jpg");
    background-size: 736px 770px;
    background-position: center center;
    margin-bottom: 7px;
        margin-left: auto;
    margin-right: auto;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    height: 605.78px;
    font-family: Arial, Helvetica, sans-serif;
    padding:3px;
    font-style: italic;
}

.picture{
    display:block;
    margin:0 auto;
    width:880px;
    height:550px;
    opacity: :0.1;
}

.bigtitle{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 200;
    letter-spacing: normal;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    color:#F3E5F5;
}

.link{
    display: block;
    margin: auto;
    text-align:center;
}

.texts{
    text-align: center;
    font-style: oblique;
}


/*Jake - Footer*/
.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
